head
	meta(charset='utf-8')
	meta(name='viewport',content='width=device-width, initial-scale=1')
	meta(name='description',content='A.I.S')
	meta(name='author',content='changyou')
	title= title
	link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
	block scriptsh