.col-sm-3.col-md-2.sidebar
	ul.nav.nav-sidebar
		li
			a(href='#') 项目构建
		li
			a(href='#') CSS通用库
		li
			a(href='#') JS通用库
		li
			a(href='#') 前端组件库
	ul.nav.nav-sidebar
		li
			a(href='#') MVC库
		li
			a(href='#') 远程调试
		li
			a(href='#') 自动化接口测试
		li
			a(href='#') 性能优化图表
		li
			a(href='#') 一键文档导出
	ul.nav.nav-sidebar
		li
			a(href='#') 代码部署
		li
			a(href='#') Live reload
		li
			a(href='#') 通用技术解决方案
	ul.nav.nav-sidebar
		li
			a(href='/users') 用户管理