extends layout

block scriptsh
	link(rel='stylesheet', href='/css/bootstrap/dashboard.css')
	link(rel='stylesheet', href='/css/core/core.css')

block content
	include common/nav
	.container-fluid
		.row
			include common/menu
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				.jumbotron.welcome
					h1 A.I.S
					p A.I.S专为解决前端开发中自动化工具、性能优化、模块化框架、开发规范、代码部署、开发流程等问题的平台系统。
					h3 参与人员介绍
					.media
						a.pull-left(href='#')
							img.media-object(src='/images/qinmudi.jpg', width='88', height='88', alt='秦睦迪')
						.media-body
							h4.media-heading 秦睦迪(A.I.S总设计)
							p 爱音乐、爱结伴旅行，爱喝茶、也爱咖啡、更爱可口可乐，爱篮球、不爱运动，爱矛盾、不爱选择。我不是神马高富帅 我是一个胖纸技术宅，一玫前端开发攻城狮。
					.media
						a.pull-left(href='#')
							img.media-object(src='/images/chixiang.jpg', width='88', height='88', alt='池翔')
						.media-body
							h4.media-heading 池翔(JS总架构师)
							p 从事前端开发多年，现专注移动端和nodejs开发，对新技术有较为浓厚的兴趣，喜欢专研爱好广泛，追求完美设计与实现。
					.media
						a.pull-left(href='#')
							img.media-object(src='/images/shenli.png', width='88', height='88', alt='沈立')
						.media-body
							h4.media-heading 沈立(A.I.S总架构师)
							p 从事后端开发多年，擅长各类语言开发，在前后端都有较为深厚的经验。为人低调，现在的生活重心是老婆孩子。。。
					.media
						a.pull-left(href='#')
							img.media-object(src='/images/chenqilin.jpg', width='88', height='88', alt='陈其林')
						.media-body
							h4.media-heading 陈其林(CSS总架构师)
							p 在CSS方面有着极深的造诣，有“局神”（布局之神）的称号,多年从事前端开发，曾在百度担任高级前端开发工程师，现为A.I.S解决方案首席CSS架构师。
					.media
						a.pull-left(href='#')
							img.media-object(src='/images/zhaoshasha.jpg', width='88', height='88', alt='赵莎莎')
						.media-body
							h4.media-heading 赵莎莎(项目经理)
							p 主要负责项目资源协调、整体进度跟踪、质量控制、风险控制、团队建设等事宜。
					blockquote
						footer.text-right 移动事业线 前端技术组 2014/09/16
					p
						a.btn.btn-primary.btn-lg(role='button') 开始体验
	// /container